<!DOCTYPE>
<html ng-app="myApp">
<head>
    <title>Event App</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>

<div class="container"  ng-controller="AppCtrl">

<form style="max-width: 700px; margin: 0 auto;" name="test" >
           
                    <div>
                    <span>
                        Hi, welcome to our website.<br/>If you would like to create an event with us, please complete the information below. 
                        After we check the details that you provided, We will contact you for all your event information as soon as possible.
                    </span>
                    </div>

                    <div><P><b>Event Details</b></P>
                    <p>Event Name:
                        <input id="Event Name" placeholder="Event Name" class="form-control " type="text" ng-model="event.name" name="Event Name"
                             value=""  required="required"/>

                    </p>
                    </div>

                    <div> 
                    <p>Event Date:
                        <input id="Event Date" placeholder="Event Date" class="form-control " type="text" ng-model="event.date" name="Event Date"
                             value=""  required="required"/>

                    </p>
                    </div>



                    <div> 
                    <p>Event location:
                        <input id="Event location" placeholder="Event Location" class="form-control " type="text" ng-model="event.location" name="Event location"
                             value=""  required="required"/>

                    </p>
                    </div>


                    <div> 
                    <p>Event Type:
                        <input id="Event Type" placeholder="Event Type" class="form-control " type="text" ng-model="event.type" name="Event Type"
                             value=""  required="required"/>

                    </p>
                    </div>

                                
                     <div class="row">

               
                       
                        <p>Event Description:</p>
                        <p><textarea class="form-control" placeholder="Leave A Description" rows="15" name="text"  value="" ng-model="event.desc" required="required">
                
                       </textarea></p>
                       </div>
                        


    
            
                    <div><P><b>Personal Details</b></P>
                    <p>Name:
                        <input id="Your Name" placeholder="Your Name" class="form-control " type="text" ng-model="event.organizer.pname" name="Your Name"
                             value=""  required="required"/>
                    </p>
                    </div>
          

               
                    <div>
                    <p>Organization:
                        <input id="organization" placeholder="Organization Name" ng-model="event.organizer.oname" class="form-control"
                               value="" type="text" name="organization"/>
                    </p>
                    </div>
              

              
                    <div>
                    <p>Email:
                        <input id="email" placeholder="Email address" class="form-control" ng-model="event.organizer.email" type="text"
                               value=""    name="email" required="required"/>
                    </p>
                        
                    </div>
             
               
                    <div>
                    <p>Phone:
                        <input id="phone" placeholder="Phone" class="form-control" type="text" ng-model="event.organizer.contact"
                               value=""   name="phone"/>
                    </p>
                    </div>
    
                       <div>
                       <p>Mobile Phone: 
                        <input id="mobile phone" placeholder="Mobile Phone" class="form-control" ng-model="event.organizer.mobilecontact" type="text"
                               value=""   name="mobile phone"/></p>
                    </div>
              

        

            <div class="row">

               
                        <p><b>Message: </b></p>
                        <p><textarea class="form-control" placeholder="Leave A Message" rows="15" name="text"  value="" ng-model="event.organizer.desc" required="required">
                
                       </textarea></p>
                       </div>
        

            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-lgs"  ng-click="AddEvent()" >Send</button>
                </div>
            </div>
        </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
<script type="text/javascript" src='https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js'></script>
<script src="controllers/controller.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

</body>

</html>

